#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
  behaviors {
    tap_dance_pairing: behavior_tap_dance {
      compatible = "zmk,behavior-tap-dance";
      #binding-cells = <0>;
      taps = <1>, <2>;  // 1 tap = regular action, 2 taps = pairing mode
      bindings = <&kp A>, <&kp B>;
    };
  };

  keymap {
    compatible = "zmk,keymap";

    default_layer {
      bindings = <
        &tap_dance_pairing
      >;
    };
  };
};